* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

div {
    padding: 10px;
}

.parent {
    background: red;
    width: 800px;
    height: 800px;
    margin: 0 auto;
}

.bg-blue {
    background: blue;
}

.bg-green {
    background: green;
}

.bg-yellow {
    background: yellow;
}

.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.parent > .top, .parent > .bottom {
    flex: 0 0 50%;
    margin: 2px 0;
}

.flex-j-flex-end {
    justify-content: flex-end;
}

.flex-j-space-beetwen {
    justify-content: space-between;
}

.parent > .top > .right, .parent > .bottom > .right {
    flex: 0 0 50%;
}

.w-80 {
    width: 80px;
    height: 80px;
}

.parent > .bottom > .right > .bottom {
    align-self: flex-end;
}